*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 }

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#6f3c2f;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 5px;
    
    bottom: 4px;
    background-color:rgb(255, 254, 254);;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #e70;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px#e70;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
  
  /* Rounded sliders */
  .slider{
    border-radius: 34px;
  }
  
  .slider::before {
    border-radius: 50%;
  }
li{
    list-style-type: none;
}
/* header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    position: relative;
    height: 75px;
    font-family: "Flame-Regular";
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .3px;
}
.menu1{
        display: flex;
        justify-content: space-between;
        /* margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px; */
}
.menu1 li{
    margin: 7px;
    font-size: 1rem;
    font-weight: 800;
    font-style:bold;
    color: #000;
    opacity: .6;
    padding: 0 0 0 0.5rem;

}
.menu1 li img{
  height: 1rem;
  width: 1rem;
}
.order{  
    font-family: "Flame-Regular";
    font-size: 1rem;
    font-weight: 400;
    font-style: bold;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .3px;
    color: #000;
    text-transform: uppercase;
}
.nearbystore{
  color: #000;
    
}
.nearbystore:hover{
    text-decoration: none;
    color: #000;

}
.nearbystore:visited{
  color: #000;
}


/* search.css */
.store-pg_wrapper {
  padding: 5.2rem 0 0;
  background-color: #f8f6f3;
}
.store-locater__bar {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  margin: auto;
}
.serach-autocompletenomap__content-store{
  padding: 1.6rem 3.2rem;
  width: 100%;
}
.serach-autocompletenomap__search {
  height: 4.8rem;
  position: relative;
}
.serach-autocompletenomap__search-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 3rem;
  position: absolute;
  left: 0;
  z-index: 2;
  border-radius: 25px;
  background-color: #fff;
  padding: 0 2.3rem;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
}
.search-autocompletenomap__search-img {
  width: 1.8rem;
  height: 2rem;
}
.search-autocompletenomap__search-input {
  flex: 1 1;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  padding: 0.4rem 0.6rem 0.2rem;
  color: #000;
  user-select: initial;
  outline: none;
}
/* .serach-autocompletenomap__location {
  
  justify-content: center;
  display: flex;
  align-items: center;
} */

.toppicks{
  background-color: #f8f6f3 ;
  font-size: 2.5rem;
  padding-left: 5%;
 
}
/* card css */

.card-wrap{
  display: flex;
  flex-wrap: wrap;
  padding: 3% ;
  background-color: #f8f6f3;
  padding-top: 20px;
}
.card{
  display: block;
  height: 23rem;
  background-color: #ffff;
  border-radius: 3px;
  margin-left: 2rem;
    margin: 1.5rem;
    box-shadow: rgb(0 0 0 / 5%) 0px 2px 4px 0px
}
.card-img-top{
position: relative;
width: 100%;
border-radius: 3px;
}
.card-title{
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  width: 100%;
  -webkit-box-orient: vertical;
  
}
.card-text{
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  width: 100%;
  -webkit-box-orient: vertical;
}
.cardbtn{
  position: relative;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
  color: #e70;
  border: 1px solid #e70;
  width: 4rem;
  height: 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Flame-Regular";
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
  position: relative;
  float:right;
  right: 10px;
  top: 30px;
}
.add{
  font-size: .9rem;
  font-weight: 700;
}
.card a:hover{
  text-decoration: none;
  color: #e70;
}
.price{
  position: relative;
  float:left;
  left: 10px;
  top: 30px;
  font-size: 1rem;
  font-weight: 700;
}